<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <%= link_to '', edit_customer_path, class: "glyphicon glyphicon-edit icon-edit" %>
</p>

<p>
  <%= link_to 'Back', customers_path, class: "btn btn-default" %>
</p>

<%= render @customer.coworkers %>

<%= render 'coworkers/form' %>
