<%= form_for @project do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </p>

    <p>
      <%= f.label :status %><br>
      <%= select(:project, :status, [ ['Waiting...', 'Waiting...'],
                                      ['Done', 'Done'],
                                      ['Active', 'Active'],
                                      ['In Testing', 'In Testing'] ]) %>
    </p>

    <input type="text" class='datepicker' >

    <div class="datepicker">
      <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.datepicker').datepicker();
        });
    </script>

    <p>
      <%= f.submit %>
    </p>

    <p>
      <%= link_to 'Back', projects_path, class: "btn btn-default" %>
    </p>

<% end %>