<%= form_for @project do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </p>

    <p>
      <%= f.label :status %><br>
      <%= f.text_field :status %>
    </p>

    <p>
      <%= f.submit %>
    </p>

    <p>
      <%= link_to 'Back', projects_path, class: "btn btn-default" %>
    </p>

<% end %>