<%= form_for @project do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </p>

    <p>
      <%= f.label :status %><br>
      <%= select(:project, :status, [ ['Waiting...', 'Waiting...'],
                                      ['Done', 'Done'],
                                      ['Active', 'Active'],
                                      ['In Testing', 'In Testing'] ],
                                      :include_blank => true,
                                      :default => nil ) %>
    </p>

    <p>
      <%= f.label :startdate %><br>
      <%= f.text_field :startdate, class: 'input-group date' %>
    </p>

    <p>
      <%= f.label :enddate %><br>
      <%= f.text_field :enddate, class: 'input-group date' %>
    </p>

    <p>
      <%= f.label :receive %><br>
      <%= f.text_field :receive, class: 'input-group date' %>
    </p>

    <p>
      <%= collection_select(:project, :customer_id, Customer.all, :id, :name, :include_blank => true, :default => nil) %>
    </p>

    <p>
      <%= f.submit :class => 'btn btn-default' %>
    </p>

    <p>
      <%= link_to 'Back', projects_path, class: 'btn btn-default' %>
    </p>

    <div class="input-group date">
      <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>

<% end %>