<!DOCTYPE html>
<html>
  <head>
    <title>PmStuff</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header"><%= link_to image_tag('pm_logo_5.png'), customers_path %></div>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
          <ul class=" list-group">

            <li class="list-group-item">
              <%= link_to customers_path, class: "nav-link" do %>
                  <i class="pull-right glyphicon glyphicon-user"></i> Customers
              <% end %>
            </li>

            <li class="list-group-item">
              <%= link_to projects_path, class: "nav-link" do %>
                  <i class="pull-right glyphicon glyphicon-briefcase"></i> Projects
              <% end %>
            </li>

            <li class="list-group-item">
              <%= link_to mytasks_path, class: "nav-link" do %>
                  <i class="pull-right fa fa-bug"></i> QA
              <% end %>
            </li>

            <li class="list-group-item">
              <%= link_to mytasks_path, class: "nav-link" do %>
                  <i class="pull-right glyphicon glyphicon-tasks"></i> My Tasks
              <% end %>
            </li>

          </ul>
        </nav>

        <div class="col-sm-9 col-md-10 content"><%= yield %></div>

      </div>
    </div>
  </body>
</html>
